@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    line-height: 115%;
}

body {
    background-color: #dddddd;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: lato, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 0.9rem;
}

h1 {
    margin: 0; 
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

#landingTitle {
    margin: 0;
}

h2 {
    font-family: ivymode, sans-serif;
    font-style: normal;
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 115%;
    margin: 0;
    margin-bottom: 2rem;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

a {
    text-decoration: none;
    color: rgb(34, 34, 167);
}

a:hover {
    font-style: italic;
}

a:visited {
    color: rgb(34, 34, 167);
}

/* CUSTOM SCROLLBAR */

::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    background: #E2E1DF;
}

::-webkit-scrollbar-thumb {
    background: #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* BASE */

#basePlaceholder {
    margin: 1.5rem;
    position: fixed;
}

#nameText {
    float: left;
    width: 10rem;
    margin: 0;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    right: 1.5rem;
    width: 10rem;
    text-align: right;
}

nav ul li {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

#footerText {
    display: none;
}

.icon {
    width: 2.188rem;
    height: auto;
    margin-top: 0.1rem;
}

/* GRID */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: stretch;
    align-items: stretch;
    grid-gap: 10em;
    margin: 0 12rem;
}

/* LANDING PAGE */

#landingText {
    max-width: 50rem;
    margin: 1.5rem 0 48vw 10rem;
}

#project1 .projectPicture {
    margin-top: 3.5rem;
}

.projectName {
    width: 100%;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

#infoText {
    max-width: 55rem;
    margin: 0 3vw 20rem 3vw;
}

/* ABOUT PAGE */

#passport,
#aboutText,
#aboutDisplay {
    grid-column: 1/2;
}

/* CONTACT PAGE */

.contactText {
    grid-column: 1/2;
    max-width: 35rem;
}

@media only screen and (min-device-width: 1024px) {

    /* BASE */

    #footerText {
        display: block;
        position: fixed;
        bottom: 1.5rem;
        right: 1.5rem;
        width: 10rem;
        text-align: right;
    }

    #decor {
        display: block;
        position: fixed;
        bottom: 1.5rem;
        left: 1.5rem;
    }

    /* GRID */

    .grid-container {
        margin: 0 15rem;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 1.5em;
    }

    /* LANDING PAGE */

    #landingText {
        grid-column: 1/8;
    }

    #project1 {
        grid-column: 1/6;
    }

    #project2 {
        margin-top: 3.2rem;
        grid-column: 6/9;
    }

    #project3 {
        grid-column: 3/7;
    }

    #experimentsTitle {
        grid-column: 1/3;
        margin: 15rem 0 1rem 0;
    }

    #project4 {
        grid-column: 1/3;
    }

    #project5 {
        grid-column: 3/5;
    }

    #project6 {
        grid-column: 5/7;
    }

    #project7 {
        grid-column: 7/9;
    }

    .projectName {
        display: inline-block;
        width: 50%;
    }

    #infoText {
        grid-column: 2/9;
        margin: 8rem 3vw 1.5rem 3vw;
    }

    .workType {
        display: inline-block;
    }

    /* PROJECTS PAGE */

    #sketchContainer {
        margin-top: 1.5rem;
        grid-column: 3/6;
    }

    #projectImage {
        margin-top: 1.5rem;
        grid-column: 3/9;
    }

    .paginationArrows {
        grid-column: 2/6;
        float: right;
    }

    .paginationArrows a:first-child {
        float: left;
    }

    /* ABOUT PAGE */

    .aboutContainer {
        margin-top: 1.5rem;
    }

    #passport {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    #aboutText {
        grid-column: 2/5;
        font-size: 20px;
    }

    #educationText {
        grid-column: 6/9;
    }

    /* CONTACT PAGE */

    .contactText {
        margin-top: 1.5rem;
    }

    #contactDisplay {
        grid-column: 2/5;
    }

    #contactDetails {
        grid-column: 6/9;
    }

}